<?xml version="1.0"?>
<!--
/*******************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
* Copyright 2023 Adobe
* All Rights Reserved.
* NOTICE: All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Adobe permits you to use and modify this file
* in accordance with the terms of the Adobe license agreement
* accompanying it (see LICENSE_ADOBE_PS.txt).
* If you have received this file from a source other than Adobe,
* then your use, modification, or distribution of it
* requires the prior written permission from Adobe.
******************************************************************************/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <codilar_voicesearch>
            <general>
                <hashtag><![CDATA[https://api.datamuse.com/words?ml=$word&max=RELATED_WORDS_QUANTITY]]></hashtag>
            </general>
        </codilar_voicesearch>
    </default>
</config>
